<div class="block-donate">
  <!-- <div class="header-block-donate d-flex justify-content-start align-items-center">
      <span (click)="redirectHome()">
          < &nbsp;&nbsp;</span>
              <span (click)="redirectHome()">Back</span>
  </div> -->
  <div class="block-list-fund d-flex justify-content-start">
    <div class="item-fundraising" *ngFor="let auction of dataAution" [routerLink]="['../auction-detail',auction.id]">
      <div class="item-fund-image">
        <img [src]="baseUrl + auction?.listImage[0]" alt="" name="image">
      </div>
      <br>
      <p class="text-donate">{{auction.titleAuction}}</p>
      <div class="footer-block-fund">
        <p class="status">Trạng thái:&nbsp;&nbsp; <strong style="color:#4caf50">{{auction.isCloseAuction == true ? "Đã kết thúc" : "Đang diễn ra"}}</strong></p>
        <p class="time-close">Thời gian đóng:&nbsp;&nbsp; <strong>{{auction.endDate}}</strong></p>
        <!-- <button class="btn-donate">{{auction.startingPrice}} VND</button>
        <p class="text-footer">{{auction.userCreate}}</p> -->
      </div>
    </div>
  </div>
</div>
