.input-search {
    position: absolute;
    width: 36%;
    height: 6.7vh;
    border-radius: 6px;
    // background-color: white;
    padding-left: 20px;
    top: 2%;
    left: 18%;
    z-index: 998;
    border: none;
    outline: none;
    color: gray;
    border: 1px solid gray;
}
.filter-fee{
    width: 15%;
    position: absolute;
    top: 2%;
    left: 44%;
    z-index: 998;
    height: 4.7vh;
}
.p-inputwrapper{
    height: 100%;
}
.filter-date{
    width: 15%;
    position: absolute;
    top: 2%;
    left: 60%;
    z-index: 998;
    height: 4.7vh;
    color:white;

}
.fa-magnifying-glass {
    position: absolute;
    top: 3.5%;
    left: 40.5%;
    font-size: 18px;
    z-index: 999;
    cursor: pointer;
}
:host ::ng-deep {
    .p-inputtext,.p-inputtext:hover{
        color:gray;
        background-color: white;
    }
}
.list-fund-raising {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    flex-wrap: wrap;
    gap: 20px;
    width: 98%;
    background-color: #fff !important;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.content-item-fund {
    width: 31.5%;
    height: 40vh;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.image-fund {
    width: 100%;
    border-radius: 12px;
    height: 60%;
}

.description-fund {
    height: 45%;
    width: 100%;
    // background-color: #000;
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // opacity: 0.6;
    // padding-left: 20px;
    // padding-top: 20px;
    // border-radius: 0 0 11px 11px;
    // box-shadow: rgb(0 0 0 / 86%) 0px 5px 15px;
}

.created-date {
    color: white;
    font-size: 14px;
}

.fund-title {
    width: 70%;
    color:white;
    font-size: 15px;
}

.block-button {
    display: flex;
    justify-content: flex-end;
    width: 95.8%;
}

.btn-add-post:hover {
    background-color: #5c62ad;
}

.btn-add-post {
    padding: 10px 0;
    background-color: #2938d4;
    width: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

.icon-post {
    margin-left: 8px;
    color: white;
}

// .progress-bar {
//     width: 100%;
//     background-color: #ffeaee;
//     height: 10px;
//     position: relative;
//     border-radius: 10px;

//     span {
//         display: block;
//         height: 100%;
//         // width: 50%;
//         background-color: #ff2e5b;
//     }
// }
.item-content {
    background-color: #ffffff;
    height: calc(100% / 2);
    padding: 30px 10px 10px 20px;
    width: 100%;
    p{
        color:#74797e;
        font-weight: bold;
    }
    a {
        color: #7A7A7A;
        font-weight: bold;
        box-shadow: none;
        text-decoration: none;
    }

    h2 {
        margin-top: 12px;
        width: 100%;
        text-overflow: ellipsis;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        /* Số dòng tối đa hiển thị */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        padding: 12px 0px 0px 0px;
    }

    h2:hover {
        color: #9c1981;
    }

    .progress-bar {
        width: 100%;
        background-color: #ffeaee;
        height: 10px;
        position: relative;
        border-radius: 10px;
        margin:15px 0;
        span {
            display: block;
            height: 100%;
            background-color: #ff2e5b;
        }
    }

    .statistic-bdi {
        margin-top: 5px;
        margin-bottom: 10px;
        justify-content: space-between;

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #7A7A7A;
        }

        span:first-child {
            color: #F9153E;
            font-weight: bold;
        }

        span:last-child {
            color: black;
        }
    }
}
.slide-item{
    position: relative;
    width: 30%;
    border:1px solid rgba(0,0,0, 0.07);
    border-radius: 5px;
}
.item-tag{
    background-color: red;
    color:white;
    position: absolute;
    top:5px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.item-image{
    width: 100%;
    cursor: pointer;
}
.percent-donate{
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #323232;
}

