<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" Cert="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog tmss-modal-md d-flex justify-content-center">
        <div class="modal-content">
            <form *ngIf="active" autocomplete="off">
                <div class="modal-header">
                    <h4 *ngIf="!autionItemId" class="modal-title">
                        <span>{{l("Thêm mới bài đăng đấu giá")}}</span>
                    </h4>
                    <h4 *ngIf="autionItemId" class="modal-title">
                        <span>{{l("Sửa bài đăng đấu giá")}}</span>
                    </h4>
                    <div class="block-button d-flex justify-content-end">
                        <button class="tmss-btn btn-outline-primary" (click)="save()">
                            {{ l("Lưu") }}
                            <i class="fa fa-save"></i>
                        </button>
                        <button [disabled]="saving" type="button" class="tmss-btn btn-outline-danger"
                            (click)="close()">{{l("Cancel")}}</button>
                    </div>
                </div>

                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row col-12 d-flex justify-content-between">
                                    <!-- left -->
                                    <div class="col-7">
                                        <div class="row mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Tiêu đề bài đăng:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <input type="text" [(ngModel)]="input.titleAuction"
                                                        name="titleAuction" class="input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Tên vật phẩm:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <input type="text" class="input" [(ngModel)]="input.itemName"
                                                        name="itemName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Ngày bắt đầu:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <p-calendar name="fundEndDate" [(ngModel)]="startDate"
                                                        dateFormat="dd/mm/yy"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Ngày kết thúc:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <p-calendar name="fundStartDate" [(ngModel)]="endDate"
                                                        dateFormat="dd/mm/yy"></p-calendar>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- right -->
                                    <div class="col-5">
                                        <div class="row mb-2 mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Mức nhỏ nhất:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <p-inputNumber name="amountAuction"
                                                        [(ngModel)]="input.amountJumpMin"
                                                        currency="VND"></p-inputNumber>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Mức lớn nhất:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <p-inputNumber name="amountAuction"
                                                        [(ngModel)]="input.amountJumpMax"
                                                        currency="VND"></p-inputNumber>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Giá khởi điểm:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <p-inputNumber name="amountAuction"
                                                        [(ngModel)]="input.startingPrice"
                                                        currency="VND"></p-inputNumber>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 d-flex justify-content-between align-items-center">
                                                <div class="col-4">
                                                    <label for="fund-name" class="label">Số lượng người tham gia:</label>
                                                </div>
                                                <div class="col-1">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                                <div class="col-7">
                                                    <input type="number" name="limitedPersionJoin" [(ngModel)]="input.limitedPersionJoin"
                                                        class="input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5 mb-5">
                                    <div class="col-12">
                                        <div class="header d-flex justify-content-between mb-3" style="width: 27%;">
                                            <p style="margin: 0;">Giới thiệu vật phẩm:</p>
                                            <span class="d-flex justify-content-between align-items-center" style="width:33%">
                                                <label for="">Công khai</label>
                                                <input type="checkbox" [(ngModel)]="input.isPublic" name="isPublic">
                                            </span>
                                        </div>
                                        <p-editor [style]="{ height: '120px' }" [(ngModel)]="input.introduceItem"
                                            name="introduceItem"></p-editor>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-between mb-5">
                                    <div class="col-4">
                                        <p-upload-auction #uploadImage (onSelect)="updateListImage($event)" [inforImage]="this.input.file"></p-upload-auction>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
