<div class="block-header-color"></div>
<div class="block-auction">
    <p class="title-header">{{this.dataAuction.titleAuction}}</p>
    <div class="header-auction d-flex">
        <div class="block-starting-price">{{this.dataAuction.startingPrice}} Coin</div>
        <span class="name-user-created">{{this.dataAuction.isPublic == true ? this.dataAuction.userName :
            "Anonymous"}}</span>
    </div>
    <hr class="itemPreviewView__separator">

    <div class="block-content-auction d-flex justify-content-between">
        <div class="block-img-auction">
            <img [src]="this.baseUrl + this.dataAuction.listImage[0]" alt="">
        </div>
        <div class="form-auction">
            <div class="auction-content">
                <div class="item-content">
                    <p>Thời gian còn lại:</p>
                    <span>{{this.dataAuction.timeLeft +" ngày"}}</span>
                </div>
                <div class="item-content">
                    <p>Giá thầu hiện tại:</p>
                    <span>{{this.dataAuction.auctionPresentAmount +" Coin"}}</span>
                </div>
                <div class="item-content">
                    <p>Giá thầu tối thiểu tiếp theo:</p>
                    <span>{{this.dataAuction.nextMinimumBid +" Coin"}}</span>
                </div>
                <div class="item-content">
                    <p>Giá thầu tối đa tiếp theo:</p>
                    <span>{{this.dataAuction.nextMaximumBid +" Coin"}}</span>
                </div>
            </div>
            <div class="block-fill-auction">
                <input type="number" placeholder="Nhập giá(Coin)" name="fill-auction" class="input-fill-auction" [(ngModel)]="this.userAuction.amountAuction">
                <button type="button" class="btn-place-bid" (click)="placeBid()">Đấu giá</button>
            </div>
            <div class="block-is-public">
                <label for="is-public" class="is-public">Công khai</label>
                <input type="checkbox" id="is-public" [(ngModel)]="this.userAuction.isPublic">
            </div>
        </div>
    </div>
    <p class="content-intro-auction">{{this.dataAuction.introduceItem}}</p>
</div>
<hr class="itemPreviewView__separator">
<div class="block-footer-color">Được tạo bởi Givergy</div>
