<!-- <div class="block-header-color"></div> -->
<div class="block-auction">
    <p class="title-header">{{dataAuction?.itemName}}</p>
    <div class="header-auction d-flex">
        <div class="block-starting-price font-weight-bold">Khởi điểm:{{dataAuction?.startingPrice}} VND</div>
        <span class="name-user-created">{{dataAuction?.isPublic == true ? dataAuction?.userName :
            "Ẩn danh"}}</span>
    </div>
    <hr class="itemPreviewView__separator">

    <div class="block-content-auction d-flex justify-content-between">
        <div class="block-img-auction">
            <img [src]="baseUrl + dataAuction?.listImage[0]" alt="">
        </div>
        <div class="form-auction" *ngIf="!dataAuction.isClose">
            <div class="auction-content">
                <div class="item-content">
                    <p>Thời gian còn lại:</p>
                    <span>{{dataAuction?.timeLeft +" ngày"}}</span>
                </div>
                <div class="item-content">
                    <p>Giá thầu hiện tại:</p>
                    <span>{{dataAuction?.auctionPresentAmount +" VND"}}</span>
                </div>
                <div class="item-content">
                    <p>Giá thầu tối thiểu tiếp theo:</p>
                    <span>{{dataAuction?.nextMinimumBid +" VND"}}</span>
                </div>
                <div class="item-content">
                    <p>Giá thầu tối đa tiếp theo:</p>
                    <span>{{dataAuction?.nextMaximumBid +" VND"}}</span>
                </div>
            </div>
            <div class="block-fill-auction">
                <p-inputNumber name="amountAuction" [(ngModel)]="userAuction.amountAuction"
                                             currency="VND"></p-inputNumber>
                <button type="button" class="btn-place-bid" *ngIf="isDeposit" [buttonBusy]="auction" (click)="placeBid()">Đấu giá</button>
                <button type="button" class="btn-place-bid" *ngIf="!isDeposit" (click)="depositAuction()">Tham gia đấu giá</button>
            </div>
            <div class="block-is-public">
                <label for="is-public" class="is-public">Tôi muốn ủng hộ công khai
                </label>
                <input type="checkbox" id="is-public" [(ngModel)]="userAuction.isPublic">
            </div>
        </div>
        <div class="auction-close d-flex justify-content-center align-items-center" *ngIf="dataAuction.isClose">
            <span>Auction Close</span>
        </div>
    </div>
    <p class="content-intro-auction mt-5" [innerHTML]="dataAuction?.introduceItem"></p>
</div>
<hr class="itemPreviewView__separator">
<!-- <div class="block-footer-color">Được tạo bởi Givergy</div> -->
<app-user-deposit-auction #deposit (modalSave)="checkUserDeposit()"></app-user-deposit-auction>
