<div class="block-sign-in d-flex align-items-center">
    <div class="block-header-register d-flex align-items-center justify-content-start">
      <span (click)="redirectHome()"> < &nbsp;&nbsp;</span>
      <span (click)="redirectHome()">Back</span>
    </div>
    <br><br><br>
    <h1 class="header-block-sign-in">Enter your's detail</h1>
    <h5 class="text-center sub-header-sigin-in">What's your email?</h5>
   <form action="" class="form-sign-in">
     <input type="text" placeholder="Email">
     <br>
     <button type="submit" class="btn-continue">Continue</button>
     <br>
     <p class="signin">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
   </form>
</div>
