<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span class="kt_subheader__desc">{{l("Quản lý thông tin quỹ người dùng")}}</span>
                </h3>
            </div>
        </div>
    </div>
    <div
        [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div>
                <div class="row align-items-center mt-5 mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <tmss-combobox [items]="listStatus" [(ngModel)]="status"
                             [label]="'label'" [key]="'value'"  [text]="l('Trạng thái')" name="typePackage">
                            </tmss-combobox>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="form-group">
                            <tmss-datepicker [(ngModel)]="createdPost" [dateInputFormat]="'DD-MM-YYYY'" [text]="l('Ngày tạo gói')" name="createdDate"></tmss-datepicker>
                        </div> -->
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3 d-flex justify-content-end">
                        <button class="tmss-btn  btn-outline-primary tmss-override" (click)="search()">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            {{l("Search")}}
                          </button>
                        <button class="tmss-btn  btn-outline-primary tmss-override" (click)="clearValueFilter()">
                          <i class="fa fa-redo" aria-hidden="true"></i>
                          {{l("Refresh")}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-md-12">
                    <div class="item col-12">
                        <grid-table [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef"
                            (onGridReady)="onGridReady($event)"
                            (changePaginationParams)="onGridReady($event)"
                            (callBackEvent)="callBackGrid($event)"
                            (onChangeSelection)="onChangeSelection($event)"
                            [paginationParams]="paginationParams"
                            [rowData]="rowData" [height]="'230px'"></grid-table>
                    </div>
                </div>
            </div>
            <button class="tmss-btn btn-outline-primary mr-0" (click)="createFund()">
                <i class="fas fa-plus"></i> {{l("Thêm quỹ")}}
            </button>
            <button class="tmss-btn btn-outline-primary mr-0" [disabled]="!this.selectedFund" (click)="editFund()">
                <i class="fas fa-edit"></i>{{l("Sửa quỹ")}}
            </button>
            <button class="tmss-btn btn-outline-primary mr-0" [disabled]="!this.selectedFund" (click)="hiddenFund()">
                <i class="fas fa-edit"></i>{{l("Ẩn quỹ")}}
            </button>
        </div>
    </div>
<app-create-or-edit-fundraising #createOrEditFund (modalSave)="onGridReady(paginationParams)"></app-create-or-edit-fundraising>
