<div class="body-content-detail-post d-flex justify-content-between">
    <div class="block-image">
        <img src="assets/common/images/banner2.jpg" alt="" class="image-main">
        <div class="post-topic"></div>
    </div>
    <div class="block-content-post">
        <p class="title-post">“Nhà thay áo mới” xuân Giáp Thìn – Chung tay giúp đỡ Cựu Thanh niên xung phong khó khăn
        </p>
        <div class="block-header d-flex justify-content-between">
            <span class="orgnization-name">Huyện Đoàn Nghi Lộc</span>
            <span class="amount-donate"> <i class="fa-regular fa-user"></i>35 lượt ủng hộ</span>
        </div>
        <div class="block-target-fund d-flex justify-content-between">
            <p>Mục tiêu dự án</p>
            <span class="amount-money-target">500.000đ</span>
        </div>
        <div class="progress">
            <span></span>
        </div>
        <div class="block-achieved d-flex justify-content-between">
            <p>Đã đạt được</p>
            <span class="amount-money-achieved">200.000đ</span>
        </div>
    </div>
</div>
<div class="block-donate">
    <div class="list-image-detail"></div>
    <div class="donation d-flex justify-content-end">
        <button class="btn-donate" (click)="donateFundRaiser()">Ủng hộ ngay</button>
        <button class="btn-raiser">Trở thành sứ giả</button>
    </div>
</div>
<div class="block-content-detail">
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Nội dung">
            <div class="block-content d-flex justify-content-between">
                <div class="content">
                    <p><strong>*Mục đích:&nbsp;</strong><span>{{this.inforFundDetail.purpose}}</span></p>
                    <p><strong>*Mục tiêu:&nbsp;</strong><span>{{this.inforFundDetail.target}}</span></p>
                    <p><strong>*</strong><span>{{this.inforFundDetail.note}}</span></p>
                </div>
                <div class="intro-orgnization">
                    <p class="text-infor">Thông tin tổ chức gây quỹ</p>
                    <h1 class="orgnization-name">{{this.inforFundDetail.organizationName}}</h1>
                    <p class="intro-org">{{this.inforFundDetail.organizationIntroduce}}</p>
                    <div class="block-address d-flex align-items-center mt-3 mb-3">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="text-address">{{this.inforFundDetail.addressOrgnization}}</span>
                    </div>
                    <div class="block-phone mt-3 mb-3">
                        <i class="fa-solid fa-phone"></i>
                        <span class="text-phone">Hotline: <span style="color:red">{{this.inforFundDetail.phone}}</span></span>
                    </div>
                    <div>
                        <i class="fa-regular fa-envelope"></i>
                        <span class="text-phone">Email: &nbsp;{{this.inforFundDetail.email}}</span>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Danh sách ủng hộ">
            <div class="list-donation">
                <input type="text" class="input-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <table>
                <tbody>
                    <tr style="background-color: #dce2eb;font-size: 1.3rem;">
                        <th class="spt-name">Người ủng hộ</th>
                        <th>Số tiền</th>
                        <th>Thời gian</th>
                    </tr>
                    <tr *ngFor="let transaction of this.listTransaction[0]">
                        <!-- <td class="spt-name-sib"><span class="banker-name">{{transaction.isPublic == true ? transaction.userDonate ? "Người dùng ẩn danh"}}</span></td>
                        <td class="baker-donate-money"><span class="woocommerce-Price-amount amount"><bdi>{{transaction.amount}}<span
                                        class="woocommerce-Price-currencySymbol">đ</span></bdi></span></td> -->
                        <td class="baker-donate-date" [innerHTML]="transaction.createdTime"></td>
                    </tr>
                </tbody>
            </table>
        </p-tabPanel>
    </p-tabView>
</div>
<app-user-donation #donate></app-user-donation>
