.body-content-detail-post {
    padding: 0 50px;
    padding-top: 50px;
}

.block-image {
    width: 45%;
}

.block-content-post {
    width: 50%;
    padding-right: 50px;

    .title-post {
        font-size: 1.6rem;
        font-weight: bold;
        width: 90%;
    }
}

.block-header {
    margin: 19px 0;

    .orgnization-name {
        color: red;
        font-size: 1.2rem;
    }
}

.image-main {
    width: 100%;
}

.amount-donate {
    color: #7A7A7A;
    font-size: 1.1rem;

    i {
        margin-right: 15px;
        font-size: 1.2rem;
    }
}

.block-target-fund {
    margin: 10xp 0;

    p {
        font-size: 1.2rem;
        color: #7a7a7a;
    }

    span {
        font-size: 1.2rem;
        color: #647887;
        font-weight: bold;
    }
}

.progress {
    height: 8px;
    width: 100%;
    position: relative;
    margin: 6px 0;
    background-color: #ff2e5b1a;

    span {
        background-color: #FF2E5B;
        width: 50%;
    }
}

.block-achieved {
    margin: 20px 0;

    p {
        font-size: 1.2rem;
        color: #647887;
    }

    span {
        color: #F9153E;
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.block-donate {
    margin-top: 20px;
    padding-right: 50px;
    margin-bottom: 60px;

    .btn-donate,
    .btn-raiser {
        border: none;
        padding: 13px 17px;
        margin-right: 5px;
        background-color: #F9153E;
        color: white;
        font-weight: bold;
        border-radius: 6px;
        font-size: 1.1rem;
    }

    .btn-raiser {
        background-color: #507ae5;
    }
}

.block-content-detail {
    margin-top: 50px;
    padding-left: 50px;
}

table {
    width: 95%;
    margin-top: 40px;

    th,
    td {
        padding: 10px 15px;
        font-size: 1.2rem;
    }

    td {
        color: #647887;
    }
}

.list-donation {
    position: relative;

    .input-search {
        width: 95%;
        padding: 10px 20px;
        border-radius: 15px;
        margin-top: 20px;
        border: 1px solid rgb(174, 173, 173);
        outline: none;
    }

    i {
        font-size: 1.4rem;
        top: 53%;
        right: 6%;
        position: absolute;
    }
}

.block-content {
    padding-top: 50px;

    .content {
        width: 40%;

        p {
            font-size: 16px;
            color: #686c8b;
        }
    }

    .intro-orgnization {
        background-color: #f6f3f1;
        width: 43%;
        padding: 30px;
        margin-right: 100px;

        .text-address,.text-phone {
            color: #7A7A7A;
            font-family: Roboto;
            font-weight: 400;
            line-height: 20px;
            font-size: 14px;
        }
        i{
            font-size: 1.2rem;
            margin-right: 20px;
            width: 7%;
        }
    }
}

.text-infor {
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
}

.intro-org {
    padding-top: 20px;
    color: #323232;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-break: break-word;
}
.donation{

    padding-right: 50px;
}
.button-share-fb{
    background-color: #395b98;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.fa-facebook{
    color: white;
    background-color: #395b98;
    font-size: 1.2rem;
    margin-left: 5px;
}
.container1{
    width: 100%;
}
.text-alert{
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 10px;
}
//#7A7A7A;
