<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" Cert="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static'}">
    <div class="modal-body">
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <p-accordion [activeIndex]="activeIndex" class="w-full">
                        <p-accordionTab>
                            <ng-template pTemplate="content">
                                <div class="block-donation-content">
                                    <div class="block-checkbox d-flex justify-content-between align-items-center mb-5">
                                        <label for="" class="ml-3">Số tiền </label>
                                        <div class="block-is-public d-flex justify-content-between align-items-center">
                                            <label for="">Tôi muốn ủng hộ công khai</label>
                                            <input type="checkbox" [(ngModel)]="this.inputData.isPublic">
                                        </div>
                                    </div>
                                    <div class="mb-5 mt-5 d-flex flex-column justify-content-between"
                                        style="width: 30%;">
                                        <p-inputNumber name="amountAuction" [(ngModel)]="amountOfMoney"
                                            currency="VND"></p-inputNumber>
                                        <!-- <input type="text" pInputText [(ngModel)]="amountOfMoney" class="input-amount" /> -->
                                        <!-- <p-slider [max]="30" [min]="10" [(ngModel)]="amountOfMoney"
                                            class="w-full"></p-slider> -->
                                    </div>
                                    <input type="text" class="input-content-donation" [(ngModel)]="noteTransaction"
                                        placeholder="Write your message here." (keydown)="limitedCharacter()">
                                    <br>
                                    <span class="note-input">255 character(s) left</span>
                                    <br>
                                    <div class="btn-donation">
                                        <button type="button" [buttonBusy]="saving" (click)="donateToFund()">Submit</button>
                                    </div>
                                    <i class="fa-solid fa-xmark" (click)="close()"></i>
                                </div>

                            </ng-template>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
