<!-- <loading *ngIf="isLoading">{{ isLoading }}</loading> -->

<body
    class="page-template page-template-template-main page-template-template-main-php page page-id-12344 page-child parent-pageid-12289 group-blog"
    style="padding-top: 144px;">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLCPQ9Q" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <div class="page">
        <header class="container-fluid pr-0 pl-0 top-header fixed-top ticker-bottom-padding">
            <div class="row pt-3 pb-3 pl-3 h-100 bg-white d-flex justify-content-between">
                <div class="col-7 col-md-7 col-lg-7 top-logo my-auto d-flex justify-content-between">
                    <img src="/assets/common/images/logo-header.png" alt="" class="h-100">
                    <ul class="list-navigation d-flex">
                        <li class="item-nav" (click)="redirectLink(1)">Trang chủ</li>
                        <li class="item-nav" (click)="redirectLink(2)">Dự án</li>
                        <li class="item-nav" (click)="redirectLink(3)">Gói quỹ</li>
                        <li class="item-nav" (click)="redirectLink(4)">Về chúng tôi</li>
                        <!-- <li class="item-nav" (click)="redirectLink(3)">Ủng hộ Fundraising</li> -->
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-2 top-right-nav my-auto text-right d-none d-lg-block">
                    <div class="navbar-expand-xl pr-3 float-right d-flex justify-content-end align-items-center">
                        <a routerLink="/account/login" class="mr-4 text-login">Đăng nhập</a>
                        <span class="text-login">&nbsp;/&nbsp;</span>
                        <a class="text-login" routerLink="/account/register">Đăng ký</a>
                    </div>
                </div>
            </div>
        </header>
        <div id="main-body" class="body-fund-detail">
            <div class="container-post d-flex justify-content-center">
                <div class="body-content-detail-post d-flex justify-content-between">
                    <div class="block-image">
                        <p-carousel [value]="dataPost?.listImageUrl" [numVisible]="1" [numScroll]="1"  [responsiveOptions]="this.responsiveOptions">
                            <ng-template let-product pTemplate="item">
                                <img [src]="baseUrl + product" alt="" class="image-main">
                            </ng-template>
                        </p-carousel>
                        <div class="post-topic"></div>
                    </div>
                    <div class="block-content-post">
                        <p class="title-post">{{dataPost?.postTitle}}
                        </p>
                        <div class="block-header d-flex justify-content-between">
                            <span class="orgnization-name">{{dataPost?.organizationName}}</span>
                            <span class="amount-donate"> <i class="fa-regular fa-user"></i>{{dataPost?.donateAmount}}
                                lượt ủng hộ</span>
                        </div>
                        <div class="block-target-fund d-flex justify-content-between">
                            <p>Mục tiêu dự án</p>
                            <span class="amount-money-target">{{dataPost?.amountDonateTarget}} VND</span>
                        </div>
                        <div class="progress">
                            <span class="span-progress"></span>
                        </div>
                        <div class="block-achieved d-flex justify-content-between">
                            <p>Đã đạt được</p>
                            <span class="amount-money-achieved">{{dataPost?.amountDonatePresent}} VND</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-block-donate d-flex justify-content-end">
                <div class="block-donate">
                    <div class="list-image-detail"></div>
                    <div class="donation d-flex justify-content-end">
                        <button class="btn-donate" (click)="donateFundRaiser()">Ủng hộ ngay</button>
                        <button class="btn-raiser" *ngIf="!isFundRaiser" (click)="requestToFundRaiser()">Trở thành sứ
                            giả</button>
                        <a class="button-share-fb d-flex align-items-center">Chia sẻ<i class="fab fa-facebook ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="body-content-detail-donate d-flex justify-content-center">
                <div class="block-content-detail">
                    <p-tabView [(activeIndex)]="activeIndex">
                        <p-tabPanel header="Nội dung">
                            <div class="block-content d-flex justify-content-between">
                                <div class="content">
                                    <p><strong>*Mục đích:&nbsp;</strong><span>{{this.dataPost?.purpose}}</span></p>
                                    <p><strong>*Mục tiêu:&nbsp;</strong><span>{{this.dataPost?.target}}</span></p>
                                    <p><strong>*</strong><span>{{this.dataPost?.note}}</span></p>
                                </div>
                                <div class="intro-orgnization">
                                    <p class="text-infor">Thông tin tổ chức gây quỹ</p>
                                    <h1 class="orgnization-name">{{this.dataPost?.organizationName}}</h1>
                                    <p class="intro-org">{{this.dataPost?.organizationIntroduce}}</p>
                                    <div class="block-address d-flex align-items-center mt-3 mb-3">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span class="text-address">{{this.dataPost?.addressOrgnization}}</span>
                                    </div>
                                    <div class="block-phone mt-3 mb-3">
                                        <i class="fa-solid fa-phone"></i>
                                        <span class="text-phone">Hotline: <span
                                                style="color:red">{{this.dataPost?.phone}}</span></span>
                                    </div>
                                    <div>
                                        <i class="fa-regular fa-envelope"></i>
                                        <span class="text-phone">Email: &nbsp;{{this.dataPost?.email}}</span>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Danh sách ủng hộ">
                            <div class="list-donation">
                                <input type="text" class="input-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <table>
                                <tbody>
                                    <tr style="background-color: #dce2eb;font-size: 1.3rem;">
                                        <th class="spt-name">Người ủng hộ</th>
                                        <th>Số tiền</th>
                                        <th>Thời gian</th>
                                    </tr>
                                    <tr *ngFor="let transaction of this.listTransaction">
                                        <td class="spt-name-sib"><span class="banker-name">{{transaction.isPublic == true ?
                                                transaction.userDonate : "Người dùng ẩn danh"}}</span></td>
                                        <td class="baker-donate-money"><span
                                                class="woocommerce-Price-amount amount"><bdi>{{transaction.amount}} VND
                                                </bdi></span></td>
                                        <td class="baker-donate-date" [innerHTML]="transaction.createdTime"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>

        <footer class="container-fluid footer">
            <div class="container-fotter">
                <div class="footer-section-top  w-100 d-flex">
                    <div class="section-top-logo footer-section-layout-1 h-100">
                        <img src="/assets/common/images/logo.jpg" alt="" class="h-100">
                    </div>
                    <div class="section-top-title footer-section-layout-2 h-100">
                        <p>Nền tảng gây quỹ cộng đồng trực tuyến <br>
                            tiện lợi, tin cậy và minh bạch.</p>
                    </div>
                    <div class="section-top-widdget footer-section-layout-3 h-100"></div>
                </div>
                <div class="footer-section-middle w-100 d-flex">
                    <div class="section-middle-left footer-section-layout-1 h-100"></div>
                    <div class="section-middle-mid footer-section-layout-2 h-100">
                        <ul class="d-flex">
                            <li>Giới thiệu</li>
                            <li>Điều khoản và điều kiện</li>
                            <li>Tin Tức</li>
                            <li>Báo Chí</li>
                        </ul>
                    </div>
                    <div class="section-middle-right footer-section-layout-3 h-100"></div>
                </div>
                <div class="footer-section-bottom w-100 d-flex">
                    <div class="section-bottom-left footer-section-layout-1 h-100"></div>
                    <div class="section-bottom-mid footer-section-layout-2 h-100">
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Hotline: <span>0345627105</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i>FundRaising@gmail.com</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Số 71 , phố Trần Thái Tông, Cầu Giấy,
                                Hà Nội.</li>
                            <li>© Givenow.vn – All Rights Reserved</li>
                        </ul>
                    </div>
                    <div class="section-bottom-right footer-section-layout-3 h-100">
                        <div class="frame-poster w-50 h-100">
                            <div class="follow-page poster-contact d-flex justify-content-center align-items-center">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i> Follow Page
                            </div>
                            <div class="contac-us poster-contact d-flex justify-content-center align-items-center">
                                <i class="fa fa-envelope" aria-hidden="true"></i>Contact Us
                            </div>
                            <img src="/assets/common/images/poster.png" alt="" class="w-100 h-100">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>