<input class="input-search" placeholder="Search..." />
<i class="fa-solid fa-magnifying-glass"></i>
<div class="row block-button" (click)="openModalCreate()">
    <div class="btn-add-post">Add Post<i class="fa-solid fa-plus icon-post"></i></div>
</div>
<div class="list-fund-raising">
    <div class="content-item-fund">
        <img src="/assets/common/images/logo.jpg" alt="" class="image-fund">
        <div class="description-fund">
            <p class="fund-title">Quỹ bảo trợ cho những trẻ em nghèo miền núi</p>
            <p class="created-date">11/12/2023</p>
        </div>
    </div>
    <div class="content-item-fund">
        <img src="/assets/common/images/logo.jpg" alt="" class="image-fund">
        <div class="description-fund">
            <p class="fund-title">Quỹ bảo trợ cho những trẻ em nghèo miền núi</p>
            <p class="created-date">11/12/2023</p>
        </div>
    </div>
    <div class="content-item-fund">
        <img src="/assets/common/images/logo.jpg" alt="" class="image-fund">
        <div class="description-fund">
            <p class="fund-title">Quỹ bảo trợ cho những trẻ em nghèo miền núi</p>
            <p class="created-date">11/12/2023</p>
        </div>
    </div>
</div>
<app-create-or-edit-post #createOrEdit></app-create-or-edit-post>
