<input class="input-search" placeholder="Tên quỹ, tiêu đề quỹ" (keyup)="getAllFundRaising()" [(ngModel)]="filter" />
<!-- <i class="fa-solid fa-magnifying-glass" (click)="getAllFundRaising()"></i> -->
<div class="filter-fee">
    <p-dropdown [style]="{'width':'100%'}" [options]="listOption" [(ngModel)]="isPayFee" optionLabel="name"
        optionValue="code" (onChange)="getAllFundRaising()"placeholder="Trả phí gói"></p-dropdown>
</div>
<div class="filter-date">
    <p-calendar name="fundEndDate" [(ngModel)]="createdDate" (onSelect)="onChangeDate($event)"
    dateFormat="dd/mm/yy" placeholder="Ngày tạo quỹ"></p-calendar>
</div>
<div class="row block-button">
    <div class="btn-add-post" (click)="openModalCreate()">Add Post<i class="fa-solid fa-plus icon-post"></i></div>
</div>
<div class="list-fund-raising">
    <div *ngFor="let item of listFundRaising" class="content-item-fund" (click)="showDetailPost(item.id)">
        <img [src]="baseUrl + item.listImageUrl[0]" alt="" class="image-fund">
        <div class="description-fund">
            <p class="fund-title">{{item.fundTitle}}</p>
            <p class="created-date">{{formatDateTime(item.fundStartDate,'dd/MM/yyyy hh:mm')}}</p>
        </div>
    </div>
</div>
<app-create-or-edit-post #createOrEdit (modalSave)="getAllFundRaising()"></app-create-or-edit-post>
<app-admin-view-detail-post #viewDetailPost></app-admin-view-detail-post>
