<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <h3 class="kt-subheader__title">
                        <span class="kt_subheader__desc">{{l("Thông tin giao dịch hệ thống")}}</span>
                    </h3>
                    <div class="row mb-1 mt-5">
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <tmss-combobox [items]="listFundName" [(ngModel)]="fundId"
                                 [label]="'name'" [key]="'id'"  [text]="l('Quỹ người dùng')" name="fundId">
                                </tmss-combobox>
                            </div>
                        </div> -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <tmss-datepicker [(ngModel)]="transactionDate" [dateInputFormat]="'DD/MM/YYYY'" [text]="l('Ngày giao dịch')" name="createdDate"></tmss-datepicker>
                            </div>
                        </div>
                        <div class="col-5"></div>
                        <div class="col-md-3 d-flex justify-content-end">
                            <div class="form-group float-right">
                                <button type="button" class="tmss-btn btn-outline-primary"
                                    (click)="clearValueFilter()">
                                    <i class="tmss-fa fas fa-redo mr-1"></i>{{l("Refresh")}}
                                </button>
                                <button class="tmss-btn btn-outline-primary" type="submit" (click)="search()"><i
                                        class="fa fa-search"></i>
                                    <span>{{l('Search')}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="row align-items-center mt-5">
                <div class="col-md-12">
                    <div class="item col-12">
                        <grid-table [columnDefs]="columnDefsTransaction"
                            [defaultColDef]="defaultColDef"
                            (callBackEvent)="callBackGridTransaction($event)"
                            (onGridReady)="onGridReadyTransaction($event)"
                            [paginationParams]="paginationParamsTransaction"
                            (onSelectionChanged)="onChangeSelectionTransaction($event)"
                             [rowData]="rowDataTransaction"
                             (changePaginationParams)="changePageFundTransaction($event)"
                            [height]="'260px'"></grid-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
