<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <div class="row mb-1">
                        <div class="col-3">
                            <h3 class="kt-subheader__title">
                                <span class="kt_subheader__desc">{{l("Thông tin quỹ")}}</span>
                            </h3>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-md-3 d-flex justify-content-end">
                            <div class="form-group float-right">
                                <button type="button" class="tmss-btn btn-outline-primary"
                                    (click)="clearValueFilter()">
                                    <i class="tmss-fa fas fa-redo mr-1"></i>{{l("Refresh")}}
                                </button>
                                <button class="tmss-btn btn-outline-primary" type="submit" (click)="search()"><i
                                        class="fa fa-search"></i>
                                    <span>{{l('Search')}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="item col-12">
                        <grid-table [columnDefs]="columnDefsFundRaising" [defaultColDef]="defaultColDef"
                            (onGridReady)="onGridReadyFundRaising($event)"
                            (callBackEvent)="callBackGridFundRaising($event)"
                            (changePaginationParams)="changePageFundRaising($event)"
                            [paginationParams]="paginationParamsFundRaising"
                            (onChangeSelection)="onChangeSelectionFundRaising($event)"
                             [rowData]="rowDataFundRaising"
                            [height]="'260px'"></grid-table>
                    </div>
                </div>
            </div>
            <!-- <div class="row mt-1 mb-1 d-flex">
                <div class="col-10"></div>
                <div class="col-2 d-flex justify-content-end">
                    <button class="tmss-btn btn-outline-primary" (click)="viewDetailsTransaction(selectionTransaction)">
                        <i class="fa fa-eye"></i> Xem chi tiết
                    </button>
                </div>
            </div> -->
            <div class="row align-items-center mt-5">
                <div class="col-md-12">
                    <div class="item col-12">
                        <div class="tbContent mb-3">
                           <h3>Thông tin giao dịch</h3>
                        </div>
                        <grid-table [columnDefs]="columnDefsTransaction"
                            [defaultColDef]="defaultColDef"
                            (callBackEvent)="callBackGridTransaction($event)"
                            (onGridReady)="onGridReadyTransaction($event)"
                            [paginationParams]="paginationParamsTransaction"
                            (onSelectionChanged)="onChangeSelectionTransaction($event)"
                             [rowData]="rowDataTransaction"
                             (changePaginationParams)="changePageFundTransaction($event)"
                            [height]="'260px'"></grid-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-view-detail-transaction #viewDetailTransaction></app-view-detail-transaction>
