<!-- <input class="input-search" placeholder="Tên quỹ, tiêu đề quỹ" (keyup)="getAllFundRaising()" [(ngModel)]="filter" /> -->
<!-- <i class="fa-solid fa-magnifying-glass" (click)="getAllFundRaising()"></i> -->
<!-- <div class="filter-fee">
    <p-dropdown [style]="{'width':'100%'}" [options]="listOption" [(ngModel)]="isPayFee" optionLabel="name"
        optionValue="code" (onChange)="getAllFundRaising()" placeholder="Trả phí gói"></p-dropdown>
</div>
<div class="filter-date">
    <p-calendar name="fundEndDate" [(ngModel)]="createdDate" (onSelect)="onChangeDate($event)" dateFormat="dd/mm/yy"
        placeholder="Ngày tạo quỹ"></p-calendar>
</div> -->
<div class="list-fund-raising">
    <!-- <div *ngFor="let item of listFundRaising" class="content-item-fund" [routerLink]="['../donation',item.id]">
        <img [src]="baseUrl + item.listImageUrl[0]" alt="" class="image-fund">
        <div class="description-fund">
            <p class="fund-organization-name">{{item.organizationName}}</p>
            <p class="fund-title">{{item.organizationName}}</p>
            <p class="created-date">{{formatDateTime(item.fundStartDate,'dd/MM/yyyy hh:mm')}}</p>
        </div>
    </div> -->
    <div class="list-fund-raising">
        <div class="slide-item" *ngFor="let item of listFundRaisingHistory">
            <img [src]="baseUrl + item.listImageUrl[0]" alt="" class="item-image" [routerLink]="['../user-post-detail',item.id,item.fundId]">
            <div class="item-tag">{{item.postTopic}}</div>
            <div class="item-content">
                <a>{{item.organizationName}}</a>
                <h2>{{item.postTitle}}</h2>
                <div class="progress-bar">
                    <span></span>
                </div>
                <div class="statistic-bdi d-flex">
                    <span>{{item.amountDonatePresent}}</span>
                    <span>{{item.percentAchieved}}%</span>
                </div>
                <p>với mục tiêu {{item.amountDonateTarget}}</p>
            </div>
        </div>
    </div>
</div>
