<div class="home-user d-flex justify-content-center">
    <div class="navigation">
        <img src="/assets/common/images/logo.jpg" class="image-fund-nav" alt="">
        <div class="block-sparate"></div>
        <ul class="list-nav d-flex flex-column">
            <li class="item-nav" (click)="selectTab('home')">Home</li>
            <li class="item-nav" (click)="selectTab('donate')">Make A Donate</li>
            <li class="item-nav" (click)="selectTab('register')">Register</li>
            <li class="item-nav" (click)="selectTab('sigin')">Sign In</li>
            <li class="item-nav" (click)="selectTab('checkout')">Checkout</li>
            <div class="block-sparate"></div>
            <li class="item-nav-hr">
                <hr>
            </li>
        </ul>
        <div class="footer-nav">
            <img src="/assets/common/images/powered-by-logo.svg" alt="">
        </div>
    </div>
    <div class="body-content">
        <div class="block-home" *ngIf="selectedTabHome">
            <img src="/assets/common/images/powered-by-logo.svg" class="image-fund" alt="" />
            <div class="fund-content">

            </div>
        </div>
        <div class="block-donate" *ngIf="selectedTabDonate">
            <p>Donate</p>
        </div>
        <div class="block-register d-flex align-items-center" *ngIf="selectedTabRegister">
            <div class="block-header-register"></div>
            <form class="form">
                <p class="title">Register </p>
                <p class="message">Signup now and get full access to our app. </p>
                <div class="flex">
                    <label>
                        <input class="input" type="text" placeholder="First Name" required="">
                    </label>
                    <label>
                        <input class="input" type="text" placeholder="Last Name" required="">
                    </label>
                </div>

                <label>
                    <input class="input" type="email" placeholder="Email" required="">
                </label>

                <label>
                    <input class="input" type="password" placeholder="Password" required="">
                </label>
                <label>
                    <input class="input" type="password" placeholder="Confirm password" required="">
                </label>
                <button class="submit">Submit</button>
                <!-- <p class="signin">Already have an acount ? <a (click)="selectTab('signin')">Sign In</a> </p> -->
            </form>
        </div>
        <div class="block-sign-in d-flex align-items-center" *ngIf="selectedTabSignIn">
            <div class="block-header-register"></div>
            <h1 class="header-block-sign-in">Sign In</h1>
            <h5 class="text-center">What's your email?</h5>
           <form action="" class="form-sign-in">
             <input type="text" placeholder="Email">
             <button type="submit" class="btn-continue">Continue</button>
             <p class="signin">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
           </form>
        </div>
        <div class="block-checkOut" *ngIf="selectedTabCheckOut">
            <p>CheckOut</p>
        </div>
    </div>
</div>
