<div id="main-body">
  <!-- breadcrumb -->
  <div class="breadcrumb-block">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="white mt-2" id="breadcrumbs"><span><span><a href="https://www.givergy.com/us/">Home</a></span> »
              <span><a href="https://www.givergy.com/us/about-us/">About Us</a></span> » <span class="breadcrumb_last"
                aria-current="page">Contact Us</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Page Form -->
  <section class="contactPageForm">
    <div class="wrapper fadeIn bgImage">
      <div class="contentWrapper">
        <div class="teamMemberWrapper">
          <div class="teamMemberQuote">
            <h1>Contact Us</h1>
            <p>"Givergy’s fundraising technology helps you increase fundraising revenue, engage guests during live
              events, and simplify online campaigns."</p>
            <div class="showOnMobile">
              <h3>Ben Crook</h3>
              <p>Chief Operating OfficerChief Operating Officer</p>
            </div>
          </div>
          <div class="teamMemberBio">
            <div class="bioImage"></div>
            <div class="bioTop"></div>
            <div class="bioBottom">
              <h3>Ben Crook</h3>
              <p>Chief Operating Officer</p>
            </div>
          </div>
          <div class="trustPilot">
            <!-- TrustBox widget - Micro Star -->
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5"
              data-businessunit-id="59ae7c620000ff0005aa7310" data-style-height="24px" data-style-width="100%"
              data-theme="dark" style="position: relative;"><iframe title="Customer reviews powered by Trustpilot"
                loading="auto"
                src="https://widget.trustpilot.com/trustboxes/5419b732fbfb950b10de65e5/index.html?templateId=5419b732fbfb950b10de65e5&amp;businessunitId=59ae7c620000ff0005aa7310#locale=en-US&amp;styleHeight=24px&amp;styleWidth=100%25&amp;theme=dark"
                style="position: relative; height: 24px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe>
            </div>
            <!-- End TrustBox widget -->
          </div>
        </div>
        <div class="formWrapper">
          <noscript>
            <iframe class="pardot-enquiry-iframe" src="https://e.givergy.com/l/852183/2023-03-28/3hth97" width="100%"
              type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
          </noscript>
          <iframe
            src="https://e.givergy.com/l/852183/2023-03-28/3hth97?utm_term=$device:18b0d269eba11a8-0eb7e32a65f3f5-26031e51-144000-18b0d269eba11a8&amp;mp_distinct_id=$device:18b0d269eba11a8-0eb7e32a65f3f5-26031e51-144000-18b0d269eba11a8&amp;distinctIDmixpanel=$device:18b0d269eba11a8-0eb7e32a65f3f5-26031e51-144000-18b0d269eba11a8"
            width="100%" type="text/html" frameborder="0" allowtransparency="true" class="pardot-enquiry-iframe"
            style="border: 0px;"></iframe>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid">
  </div>
  <section class="processSteps3">
    <div class="processTabsWrapper">
      <h2 class="pb-0">What can we help you with?</h2>
      <h3 class="mt-0"></h3>

      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks active" onclick="openContent(event, 'process_tab_1')" id="defaultOpen">
          <h4>Fundraising</h4>
        </button>
        <button class="tablinks" onclick="openContent(event, 'process_tab_2')">
          <h4>Auction Items</h4>
        </button>
        <button class="tablinks" onclick="openContent(event, 'process_tab_3')">
          <h4>Support</h4>
        </button>
      </div>

      <!-- Tab content (1) -->
      <div id="process_tab_1" class="tabcontent fadeIn" style="display: block;">
        <div class="stepsWrapper">
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy loaded"
                src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-1-icon.png"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-1-icon.png"
                width="100%" height="auto" alt="step 1" data-was-processed="true">
              <div class="imageNumber">
                <h3>1</h3>
              </div>
            </div>
            <p>Complete and submit the form above</p>
          </div>
          <div class="StepArrowWrapper">
            <img class="lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2024'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/iconArrowLightblue.png" width="32"
              height="24" alt="arrow right">
          </div>
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy loaded"
                src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-2-icon.png"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-2-icon.png"
                width="100%" height="auto" alt="step 2" data-was-processed="true">
              <div class="imageNumber">
                <h3>2</h3>
              </div>
            </div>
            <p>One of our fundraising experts will contact you within 24 hours</p>
          </div>
          <div class="StepArrowWrapper">
            <img class="lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2024'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/iconArrowLightblue.png" width="32"
              height="24" alt="arrow right">
          </div>
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy loaded"
                src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-3-fundraising.png"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-3-fundraising.png"
                width="100%" height="auto" alt="step 3" data-was-processed="true">
              <div class="imageNumber">
                <h3>3</h3>
              </div>
            </div>
            <p>Discuss your needs, demo our platform, and receive a personalised quote</p>
          </div>
        </div>
      </div>
      <!-- Tab content (2) -->
      <div id="process_tab_2" class="tabcontent fadeIn" style="display: none;">
        <div class="stepsWrapper">
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy"
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20460%20320'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-1-icon.png"
                width="100%" height="auto" alt="step 1">
              <div class="imageNumber">
                <h3>1</h3>
              </div>
            </div>
            <p>Complete and submit the form above</p>
          </div>
          <div class="StepArrowWrapper">
            <img class="lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2024'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/iconArrowLightblue.png" width="32"
              height="24" alt="arrow right">
          </div>
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy"
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20460%20320'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-2-icon.png"
                width="100%" height="auto" alt="step 2">
              <div class="imageNumber">
                <h3>2</h3>
              </div>
            </div>
            <p>One of our fundraising experts will contact you within 24 hours</p>
          </div>
          <div class="StepArrowWrapper">
            <img class="lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2024'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/iconArrowLightblue.png" width="32"
              height="24" alt="arrow right">
          </div>
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy"
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20460%20320'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-3-auction.png"
                width="100%" height="auto" alt="step 3">
              <div class="imageNumber">
                <h3>3</h3>
              </div>
            </div>
            <p>Discuss your needs, view our wide variety of items and experiences, and receive a personalised quote</p>
          </div>
        </div>
      </div>
      <!-- Tab content (3) -->
      <div id="process_tab_3" class="tabcontent fadeIn" style="display: none;">
        <div class="stepsWrapper">
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy"
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20460%20320'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-1-icon.png"
                width="100%" height="auto" alt="step 1">
              <div class="imageNumber">
                <h3>1</h3>
              </div>
            </div>
            <p>Complete and submit the form above</p>
          </div>
          <div class="StepArrowWrapper">
            <img class="lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2024'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/iconArrowLightblue.png" width="32"
              height="24" alt="arrow right">
          </div>
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy"
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20460%20320'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-2-icon.png"
                width="100%" height="auto" alt="step 2">
              <div class="imageNumber">
                <h3>2</h3>
              </div>
            </div>
            <p>One of our fundraising experts will contact you within 24 hours</p>
          </div>
          <div class="StepArrowWrapper">
            <img class="lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2032%2024'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/iconArrowLightblue.png" width="32"
              height="24" alt="arrow right">
          </div>
          <div class="step">
            <div class="imageWrapper">
              <img class="lazy"
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20460%20320'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/help-step-3-support.png"
                width="100%" height="auto" alt="step 3">
              <div class="imageNumber">
                <h3>3</h3>
              </div>
            </div>
            <p>Discuss your needs and get resolved quickly</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid ml-0 mr-0" style="background-color:#fafafa; height:30px"></div>
  <div class="container-fluid title-block" style="background-color:#fafafa; ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">
          <h2 class="text-center mt-0 mb-0">
            <span class="fs-36px" style="color:#243776; font-weight:800">FREQUENTLY ASKED QUESTIONS</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid faqs pt-3 pb-3" style="background-color:#fafafa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">
          <div id="accordion">
            <div class="card-faq card-shadow mb-3">
              <div class="card-faq-header container" id="heading0">
                <h3 class="pt-4 pb-2 pr-3 m-0">
                  <a onclick="expandFAQ('About Givergy')" class="panel-heading" data-toggle="collapse"
                    data-target="#collapse0" aria-expanded="false" aria-controls="collapseOne">
                    About Givergy <i class="fas fa-lg fa-chevron-down text-grey float-right"></i>
                  </a>
                </h3>
              </div>

              <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
                <div class="card-faq-body container pb-3">
                  <h4>Why Givergy?</h4>
                  <p>Our mission is to empower charities and individuals to help make the world a better place. We exist
                    to be the Giving Sector’s #1 trusted innovation partner, and to help non-profits embrace digital to
                    drive deeper engagement. It is our sole, unswerving mission to help non-profits raise more and
                    spread their word, whatever message of positive change that may be.</p>
                  <h4>What is Givergy?</h4>
                  <p>Givergy is a market-leading fundraising technology and consultancy company, with the goal of
                    helping non-profits maximise their charitable returns across both online and in-person fundraising
                    activities. Supporting over 10,000 campaigns across the past decade – raising more than $1.1b
                    worldwide – we’re proud to be known as a partner to some of the World’s most prestigious charities
                    including amfAR, UNICEF, Marie Curie, GOSH &amp; The Prince’s Trust as well as thousands of smaller
                    yet equally worthy causes.</p>
                  <h4>What sort of events do you support?</h4>
                  <p>Traditionally focussing on large, seated charity dinners, Givergy now provides support to both
                    in-person and online fundraising activities in equal measure. So, whether it’s a gala dinner, golf
                    day or a virtual fundraiser with attendees from across the country and beyond, Givergy has a
                    solution perfect for your needs.</p>
                  <h4>What regions do Givergy operate in?</h4>
                  <p>Our HQ is in London (from which we provide Europe-wide support), but we also have offices in New
                    York, Toronto, Vancouver, Hong Kong and Sydney. We have supported fundraising events all over the
                    globe including Singapore, Paris, Cannes and Monaco.</p>
                  <h4>How does Givergy make my job as an event organiser easier?</h4>
                  <p>We won’t pretend to be experts in sound, lighting or catering, but when it comes to fundraising and
                    maximising your charitable returns, we’ve got you covered. As well as offering class-leading tools
                    to manage your ticket sales, silent auction, prize draw/raffles and donations, we pride ourselves on
                    providing the advice and guidance needed to ensure your event is as successful as it possibly can
                    be.</p>
                  <h4>Can you provide me with references of fundraising clients that have used you in the past?</h4>
                  <p>Absolutely. We have a list of testimonials and are more than happy to put you in touch with clients
                    who have had first-hand experience of the Givergy product and service, or even better… those who
                    have used Givergy and another interactive bidding supplier before.</p>
                  <h4>Can I arrange a demo with a Givergy consultant?</h4>
                  <p>We would be delighted to arrange a free consultation – either over Teams or in-person – so that we
                    can demonstrate the Givergy platform as well as provide some top-line advice and guidance based on
                    your aims and objectives. Every event and campaign which we support is different to the last, so
                    gaining in an insight into what you’re hoping to achieve is a crucial starting point!</p>
                </div>
              </div>
            </div>
            <div class="card-faq card-shadow mb-3">
              <div class="card-faq-header container" id="heading1">
                <h3 class="pt-4 pb-2 pr-3 m-0">
                  <a onclick="expandFAQ('Product &amp; Technology')" class="panel-heading" data-toggle="collapse"
                    data-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                    Product &amp; Technology <i class="fas fa-lg fa-chevron-down text-grey float-right"></i>
                  </a>
                </h3>
              </div>

              <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                <div class="card-faq-body container pb-3">
                  <h4>How long does it take Givergy to set up?</h4>
                  <p>A bespoke, branded online fundraising page offering ticketing, auction, prize draw and pledge
                    functionality can take as little as a few days to set up, although we always recommend a lead time
                    of at least ten days. If we’re providing on-site support for an 8pm gala dinner, we typically arrive
                    at around 4pm to ensure everything is set-up and ready to go for your guests’ arrival!</p>
                  <h4>Does every guest need to register for a to use the Givergy system?</h4>
                  <p>Whether using our fundraising tablets at a gala dinner, our smartphone platform or a combination of
                    both, guests will need to register to ensure their preferences and details are safe and secure.</p>
                  <p>Once they’ve registered, they’ll simply need to enter a four digit pin to bid using our tablets, or
                    a password to use our smartphone platform.</p>
                  <h4>What happens if a tablet is damaged or stolen?</h4>
                  <p>If a tablet is lost or stolen and not returned then we would have to charge this to our client
                    unfortunately. All tablets are numbered and have tracking stickers on their reverse. Also our event
                    managers keep a beady eye on them during the event, so this very rarely occurs.</p>
                  <h4>Can a guest remain anonymous?</h4>
                  <p>Yes. Every time a guest places a bid or makes a donation – either via our smartphone platform or a
                    tablet – they have the option of remaining anonymous.</p>
                  <h4>Do pre-event online auction websites actually work?</h4>
                  <p>Yes, in a number of ways. With the right exposure to your guests or database they act not only as
                    good fundraising tools but also as smart and simple marketing tool that give the event a really
                    professional touch. We’re a big fan of charities using online auctions to help them raise more.</p>
                </div>
              </div>
            </div>
            <div class="card-faq card-shadow mb-3">
              <div class="card-faq-header container" id="heading2">
                <h3 class="pt-4 pb-2 pr-3 m-0">
                  <a onclick="expandFAQ('Our Service')" class="panel-heading" data-toggle="collapse"
                    data-target="#collapse2" aria-expanded="false" aria-controls="collapseOne">
                    Our Service <i class="fas fa-lg fa-chevron-down text-grey float-right"></i>
                  </a>
                </h3>
              </div>

              <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-faq-body container pb-3">
                  <h4>I have several fundraisers planned – what’s the best way of booking?</h4>
                  <p>Historically, clients would always book our services on a campaign-by-campaign basis, requiring
                    different contracts and invoices for each. Whilst some still prefer this, many now choose to utilise
                    Givergy Unlimited – our new, annual subscription package which provides unlimited access to our
                    online fundraising tools for an entire year. For clients looking to run more than one campaign
                    across a twelve month period, this is almost always the most cost-effective way to work with us.</p>
                  <h4>How does Givergy differ when compared to other similar providers in the market?</h4>
                  <p>Despite being a technology firm, we recognize that exceptionalservice is as crucial as the product
                    itself. So, despite having a fantastic product, we really stand out due to the service we provide
                    all our clients and their guests before, during and after the event.</p>
                  <h4>Will there be Givergy staff at my event?</h4>
                  <p>Whilst there will normally be at least one staff member from Givergy on-site, it depends on the
                    package you book with us. We try to offer flexible, cost-effective solutions to suit every budget
                    which means that, sometimes, more confident clients find that remote support is sufficient for their
                    needs.</p>
                  <h4>I may have last minute changes to guest and lot data, is this a problem?</h4>
                  <p>No. Our system is designed to be as flexible as possible and we understand the nature of live
                    events where no matter how much planning goes on, something always crops up on the night. So be it
                    adding / removing guest names, tweaking lot items or changing the end time of the silent auction,
                    this can all be done on the night of the event.</p>
                  <h4>Do you take credit card details from every guest?</h4>
                  <p>You have a number of options here, depending on your preferences. Whilst traditionally, guests
                    would only be contacted after an event in order to have their payment details taken, recent advances
                    with our smartphone platform now give clients the option to collect these before bids are placed.
                    This means that a) the payment collection process becomes far quicker and b) you no longer run the
                    risk of winning bidders changing their minds!</p>
                  <h4>Can you help secure auction / consignment items?</h4>
                  <p>Absolutely. Givergy’s auction item department is designed to ensure that each and every Client we
                    work with goes into their event with a range of items guaranteed to ‘wow’ their audience. From
                    artwork, to dining experiences, to luxury holidays, we have incredible money-can’t-buy items ready
                    to slot into your offering!</p>
                </div>
              </div>
            </div>
            <div class="card-faq card-shadow mb-3">
              <div class="card-faq-header container" id="heading3">
                <h3 class="pt-4 pb-2 pr-3 m-0">
                  <a onclick="expandFAQ('Costs')" class="panel-heading" data-toggle="collapse" data-target="#collapse3"
                    aria-expanded="false" aria-controls="collapseOne">
                    Costs <i class="fas fa-lg fa-chevron-down text-grey float-right"></i>
                  </a>
                </h3>
              </div>

              <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                <div class="card-faq-body container pb-3">
                  <h4>How much does the Givergy system cost?</h4>
                  <p>Supporting fundraisers of all shapes and sizes, Givergy have solutions to suit every budget. For
                    our one-off, online-only packages we can offer attractive commission models for clients apprehensive
                    about paying an up-front fee. Alternatively, for clients keen to know exactly what they’re paying in
                    advance, or for in-person events with bigger targets which require on-site support, we can offer
                    flexible flat-fee solutions, depending on the exact requirements.</p>
                  <h4>What return on investment can I expect by using Givergy rather than pen and paper?</h4>
                  <p>The million dollar question! And one which is, unfortunately, very difficult to answer. In our
                    experience, the success of a fundraiser relies on a) the quality of items available, b) the wealth
                    of the audience and their interest in the cause and c) the mechanism through which they are giving.
                    Whilst a) and b) are often areas in which we have no control, we’re here to ensure that we have you
                    covered with c), by providing a fun, engaging and competitive bidding platform which your supporters
                    will love using.</p>
                  <p>So, whilst it’s hard to pin a number of the kind of return you can expect, you should take comfort
                    from the fact that, when clients move from paper to Givergy, they never look back.</p>
                  <h4>I am trying to get a sponsor for the silent auction system, what are the benefits for them?</h4>
                  <p>Our smartphone platform, fundraising tablets and leaderboards all provide various exposure
                    opportunities for would-be sponsors, giving their logo/branding pride-of-place within one of the
                    focal points of the evening – the fundraising platform.</p>
                  <p>If you’d like a little more information on this, please let the team know.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="offices">
    <div class="officesWrapper">
      <h2>Our Offices</h2>
      <div class="officeItemsWrapper">
        <div class="officeItem">
          <div class="officeLocationWrapper">
            <div class="flag lazy"
              data-bg="url('https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/iconFlagUk.png')"></div>
            <h3>UK &amp; Europe</h3>
          </div>
          <p>The Studios, Rosedale Road, Richmond, London TW9 2SX, United Kingdom</p>
          <p>Tel: <a href="tel:+44 (0)20 4571 2655">+44 (0)20 4571 2655</a></p>
        </div>
        <div class="officeItem">
          <div class="officeLocationWrapper">
            <div class="flag lazy"
              data-bg="url('https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/iconFlagUs.png')"></div>
            <h3>USA</h3>
          </div>
          <p>530 Seventh Avenue, Floor M1, New York, NY 10018, United States</p>
          <p>Tel: <a href="tel:+1 (323) 536 1651">+1 (323) 536 1651</a></p>
        </div>
        <div class="officeItem">
          <div class="officeLocationWrapper">
            <div class="flag lazy"
              data-bg="url('https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/iconFlagCa.png')"></div>
            <h3>Canada</h3>
          </div>
          <p>PO Box 75371, RPO Leslie Street, Toronto, ON, M4M 1B3, Canada</p>
          <p>Tel: <a href="tel:+1 (236) 326 6253">+1 (236) 326 6253</a></p>
        </div>
        <div class="officeItem">
          <div class="officeLocationWrapper">
            <div class="flag lazy"
              data-bg="url('https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/iconFlagHk.png')"></div>
            <h3>Hong Kong</h3>
          </div>
          <p>PO Box 6479, General Post Office, 2 Connaught Pl, Central, Hong Kong</p>
          <p>Tel: <a href="tel:+852 3703 8444">+852 3703 8444</a></p>
        </div>
        <div class="officeItem">
          <div class="officeLocationWrapper">
            <div class="flag lazy"
              data-bg="url('https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/02/iconFlagAu.png')"></div>
            <h3>Australia</h3>
          </div>
          <p>PO Box 422, Cherrybrook, NSW, 2126, Australia</p>
          <p>Tel: <a href="tel:+61 2 5135 2519">+61 2 5135 2519</a></p>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid ml-0 mr-0" style="background-color:#ffffff; height:60px"></div>
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-6 col-lg-3 order-2 order-lg-1 text-center d-flex align-items-center pl-3 pr-3 mb-3">
        <div class="ps-bubble" style="background-color:#089dd9; color:#ffffff">
          <div class="ps-bubble-content">
            <p><strong><span style="font-size: 60px; line-height: 72px;">3,000</span><br>
                <span style="font-size: 18px; line-height: 24px;">clients</span></strong></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 order-1 order-lg-2 text-center d-flex align-items-center pl-3 pr-3 mb-3">
        <div class="ps-bubble" style="background-color:#bc2b87; color:#ffffff">
          <div class="ps-bubble-content">
            <p><strong><span style="font-size: 24px; line-height: 32px;">HELPING YOU RAISE OVER</span><br>
                <span style="font-size: 72px; line-height: 72px;">$1.1b</span><br>
                <span style="font-size: 24px; line-height: 32px;">AS A TRUSTED PARTNER TO<br>NON-PROFITS</span></strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3 order-3 order-lg-3 text-center d-flex align-items-center pl-3 pr-3 mb-3">
        <div class="ps-bubble" style="background-color:#089dd9; color:#ffffff">
          <div class="ps-bubble-content">
            <p><strong><span style="font-size: 60px; line-height: 72px;">2.5m</span><br>
                <span style="font-size: 18px; line-height: 24px;">donor interactions</span></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid ml-0 mr-0" style="background-color:#ffffff; height:60px"></div>
  <div class="container-fluid title-block" style="background-color:#ffffff; ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">
          <h2 class="text-center mt-0 mb-0">
            <span class="fs-36px" style="color:#243776; font-weight:800">CLIENT SUCCESS</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-block text-block-10" style="background-color:#ffffff; ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <p style="text-align: center;">We ask for client feedback after every campaign or event! See below some of our
            recent successes from around the globe:</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid ml-0 mr-0" style="background-color:#ffffff; height:30px"></div>
  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12  mb-3">
          <div class="testimonial-flexible " style="background-color:#6b3471;">
            <div class="testimonial-text">
              <p>“The Givergy team provided essentially flawless execution of our online auction, silent auction and
                pledge drive.”</p>
            </div>
            <img class="testimonial-quote-icon lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2055%2048'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/quote-pink.png" width="55"
              height="48">
            <p class="testimonial-author mb-0">Urban Pathways</p>
            <div class="testimonial-logo text-center p-3 d-flex">
              <img
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20300%20150'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/01/clientUrbanPathways-300x150.png"
                alt="" width="300" class="my-auto mx-auto img-fluid lazy">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid ml-0 mr-0" style="background-color:#ffffff; height:30px"></div>
  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12  mb-3">
          <div class="testimonial-flexible " style="background-color:#233774;">
            <div class="testimonial-text">
              <p>“This was our first online auction and we could not have picked a better platform to work with. From
                our first interaction… nothing but first class, professional people.”</p>
            </div>
            <img class="testimonial-quote-icon lazy"
              src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2055%2048'%3E%3C/svg%3E"
              data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/assets/quote-pink.png" width="55"
              height="48">

            <p class="testimonial-author mb-0">Clyde's</p>

            <div class="testimonial-logo text-center p-3 d-flex">
              <img
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20300%20150'%3E%3C/svg%3E"
                data-src="https://x3f3b2w2.stackpathcdn.com/wp-content/uploads/2023/01/clientClydes-300x150.png" alt=""
                width="300" class="my-auto mx-auto img-fluid lazy">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid ml-0 mr-0" style="background-color:#ffffff; height:30px"></div>
</div>