:host ::ng-deep {
    .p-inputnumber {
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
    }
    .p-inputtext{
        color:black;
    }
    .fund-modal-md{
        display: flex;
        justify-content: center;
        .modal-content{
            width: 50%;
        }
    }
}
.label{
    margin-right: 10px;
}
