<div bsModal #deposit="bs-modal" class="modal fade" tabindex="-1" Cert="dialog" aria-labelledby="deposit"
    aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog fund-modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <h3>Thông tin đặt cho cho phiên đấu giá {{this.inforDepost?.auctionTitle}}</h3>
                </h4>
                <span (click)="close()" aria-hidden="true">&times;</span>
            </div>

            <div class="modal-body">
                <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                    <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__body">
                            <div class="row mb-5 d-flex justify-content-between">
                                <p>Để tham gia một phiên đấu giá bạn phải đặt cọc trước cho ban
                                    tổ chức đấu giá tài sản với mức tối thiểu là 1% và mức tối đa không quá 15%.
                                </p>
                                <p> Cụ thể trong phiên đấu giá
                                    này mức đặt cọc hợp lệ từ {{this.inforDepost?.minAmountDepost}} VND đến
                                    {{this.inforDepost?.maxAmountDepost}} VND</p>
                                <div class="col-12 d-flex align-items-center">
                                    <label class="label">Số tiền đặt cọc:</label>
                                    <p-inputNumber name="amountAuction" [(ngModel)]="depositAmount"
                                        currency="VND"></p-inputNumber>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [buttonBusy]="saving" type="button" class="tmss-btn btn-outline-primary"
                        (click)="depositAuction()">Đặt cọc</button>
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-danger"
                        (click)="close()">{{l("Cancel")}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
