<!-- <div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" Cert="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog fund-modal-md">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{l("Thêm mới bài đăng gây quỹ")}}</span>
                </h4>
                <div class="block-button">

                        <i class="fa fa-times" (click)="close()"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="block-image">
                    <p-carousel [value]="" [numVisible]="3" [numScroll]="3"
                     [circular]="true" [responsiveOptions]="responsiveOptions"
                     autoplayInterval="3000">
                        <ng-template let-product pTemplate="item">
                                <img src="" />
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
</div> -->
