<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" Cert="dialog"
    aria-labelledby="viewModal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog fund-modal-md">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{l("Thêm mới bài đăng gây quỹ")}}</span>
                </h4>
                <div class="block-button">

                        <i class="fa fa-times" (click)="close()"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="block-image">
                   <!-- <img [src]="baseUrl" class="image-fund" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>
