<div class="header-block-donate"></div>
<div class="block-list-fund d-flex justify-content-start">
    <div class="item-fundraising" (click)="showFundDetail()">
        <div class="item-fund-image">
            <img src="/assets/common/images/test.jpg" alt="">
        </div>
        <br>
        <p class="text-ordering">#1</p>
        <span class="text-donate">Donate $ 10,000</span>
        <div class="footer-block-fund">
            <button class="btn-donate">$60,000</button>
            <p class="text-footer">Raised So Far</p>
        </div>
    </div>
</div>
<div class="fund-detail">
    <div class="block-detail-fund">
        <div class="header-fund-detail">
            <div class="title-detail">
                <span class="ordering">#1</span>
                <span class="sub-title">Please donate £ 10</span>
            </div>
            <div class="fund-detail-donate">
                <button class="btn-donate">$60,000</button>
                <span>Raised So Far</span>
            </div>
        </div>
        <hr class="itemPreviewView__separator">
        <div class="body-content d-flex justify-content-between">
            <img src="/assets/common/images/test.jpg" alt="" class="image-detail-fund">
            <div class="block-donation">
                <div class="block-donation-header d-flex justify-content-between align-items-center">
                    <p>Donation:</p>
                    <span>£10</span>
                </div>
                <!-- <div class="block-donation-content">
                    <p>Leave a message of support!</p>
                    <input type="text" class="input-content-donation" placeholder="Write your message here."
                        (keydown)="limitedCharacter()"
                        >
                    <br>
                    <span class="note-input">255 character(s) left</span>
                    <br>
                    <div class="btn-donation">
                        <button (click)="donateNow()">Donate Now</button>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="footer-fund-detail d-flex">
            <p class="title-footer">Please make a donation to help raise critical funds for our cause.</p>
            <div class="infor-user">
                <h2>Supporter</h2>
                <div class="block-infor d-flex justify-content-between align-items-center">
                    <div class="block-image d-flex align-items-center">
                        <img src="/assets/common/images/test.jpg" width="40" height="40" alt="">
                        <span class="user-name">Van Rung</span>
                    </div>
                    <span class="total-donate">£20</span>
                </div>
            </div>
        </div>
        <hr class="itemPreviewView__separator">
    </div>
</div>
