<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="home-user d-flex justify-content-center">
    <div class="navigation">
        <img src="/assets/common/images/logo.jpg" class="image-fund-nav" alt="">
        <div class="block-sparate"></div>
        <ul class="list-nav d-flex flex-column">
            <li class="item-nav" (click)="selectTab()" routerLink="/guest/content-fund" routerLinkActive="true">Home</li>
            <li class="item-nav" (click)="selectTab()" routerLink="donation" routerLinkActive="true">Make A Donate</li>
            <li class="item-nav" (click)="selectTab()" routerLink="register" routerLinkActive="true">Register</li>
            <li class="item-nav" (click)="selectTab()" routerLink="sign-in" routerLinkActive="true">Sign In</li>
            <li class="item-nav" (click)="selectTab()" routerLink="checkout" routerLinkActive="true">Checkout</li>
            <div class="block-sparate"></div>
            <li class="item-nav-hr">
                <hr>
            </li>
        </ul>
        <div class="footer-nav">
            <img src="/assets/common/images/powered-by-logo.svg" alt="">
        </div>
    </div>
    <div class="body-content-user">
        <!-- <div class="block-home">
            <img src="/assets/common/images/powered-by-logo.svg" class="image-fund" alt="" />
            <div class="fund-content">

            </div>
        </div> -->
        <router-outlet></router-outlet>
        <!-- <div class="block-register d-flex align-items-center justify-content-betweent">
            <router-outlet></router-outlet>
        </div>
        <div class="block-sign-in d-flex align-items-center">
            <router-outlet></router-outlet>
        </div>
        <div class="block-checkOut">
            <router-outlet></router-outlet>
        </div> -->
    </div>
</div>
