<div class="page">
  <script>
    jQuery(document).ready(function () {
      var bodyPad = jQuery('body').css('padding-top').replace(/[^-\d\.]/g, ''); // get the padding
      console.log("Body pad: " + bodyPad);
      var newPad = +bodyPad + +40;
      jQuery('body').css('padding-top', newPad + 'px'); // add x to it if more than 0
    });
  </script>
  <header class="container-fluid pr-0 pl-0 top-header fixed-top ticker-bottom-padding">
    <div class="row pt-3 pb-3 pl-3 h-100 bg-white d-flex justify-content-between">
      <div class="col-7 col-md-7 col-lg-6 top-logo my-auto d-flex justify-content-between">
        <a href="/assets/common/images/logo.jpg"></a>
        <ul class="list-navigation d-flex">
          <li class="item-nav" (click)="redirectLink(1)">Trang chủ</li>
          <li class="item-nav" (click)="redirectLink(2)">Dự án</li>
          <li class="item-nav" (click)="redirectLink(4)">Về chúng tôi</li>
          <li class="item-nav" (click)="redirectLink(3)">Hướng dẫn</li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-2 top-right-nav my-auto text-right d-none d-lg-block">
        <div class="navbar-expand-xl pr-3 float-right d-flex justify-content-end align-items-center">
          <a routerLink="/account/login" class="mr-4 text-login">Login</a>
          <a class="ml-5 btn btn-blue float-right m-neg-6 pl-24 pr-24">Get in Touch</a>
        </div>
      </div>
    </div>
  </header>
  <div id="main-body" class="body-home-guest">
    <div class="home-banner banner1 w-100 ">
      <div class="banner-title w-75">
        <p>Nền tảng gây quỹ cộng đồng trực tuyến</p>
      </div>
      <div class="banner-content w-75">
        <h3>Kết nối gây quỹ và ủng hộ trực tuyến tiện lợi, tin cậy và minh bạch</h3>
      </div>
      <div class="scene w-50 d-flex">
        <div class="circle-img circle-img1" (click)="changeBanner(1)"></div>
        <div class="circle-img circle-img2" (click)="changeBanner(2)"></div>
        <div class="circle-img circle-img3" (click)="changeBanner(3)"></div>
      </div>
    </div>
    <div class="home-raising-funds w-100">
      <div class="raising-funds-title">
        <h4>Dự án đang gây quỹ</h4>
        <p>Hãy lựa chọn dự án trong lĩnh vực <br> mà bạn quan tâm nhất</p>
      </div>
      <div class="raising-funds-element w-100">
        <div class="slide-container">
          <div class="slide-list d-flex">
            <div class="slide-item" *ngFor="let item of raisingArray">
              <div class="item-image">
                <img src="" alt="">
                <div class="item-tag">Giáo dục</div>
              </div>
              <div class="item-content">
                <a>Quỹ từ thiện Nâng bước tuổi thơ</a>
                <h2>Chung tay hỗ trợ sinh oạt phí cho 3 thiếu niên cùng tiếp bước đến trường</h2>
                <div class="progress-bar">
                  <span></span>
                </div>
                <div class="statistic-bdi d-flex">
                  <span>18.1295</span>
                  <span>50%</span>
                </div>
                <p>với mục tiêu 24.000.000đ</p>
              </div>
            </div>
          </div>
        </div>
        <div class="see-all">
          <a href="/guest/home">Xem tất cả</a>
        </div>
      </div>
    </div>

    <div class="home-widget-statistic w-100">
      <h2>Những con số biết nói</h2>
      <ul class="total-statistics d-flex">
        <li>
          <span>Dự án</span>
          <span>52</span>
        </li>
        <li>
          <span>Sứ giả</span>
          <span>129</span>
        </li>
        <li>
          <span>Tổ chức</span>
          <span>28</span>
        </li>
        <li>
          <span>Lượt ủng hộ</span>
          <span>3346</span>
        </li>
        <li>
          <span>Tiền ủng hộ</span>
          <span>1.35 tỷ</span>
        </li>
      </ul>
    </div>
    <div class="home-give-now w-100 d-flex">
      <div class="give-now give-now-logo w-50">
        <img src="/assets/common/images/logo.jpg" alt="" class="">
      </div>
      <div class="give-now what-give-now w-50">
        <h2>Fundraising là gì?</h2>
        <p>Fundraising là nền tảng gây quỹ cộng đồng trực tuyến tiện lợi, tin cậy và minh bạch.</p>
        <p>Fundraising được tin dùng bởi các tổ chức cộng đồng uy tín như: Quỹ Bảo Trợ Trẻ Em Việt Nam, Operation Smile,
          Quỹ Vì Tầm Vóc Việt, Pan Nature, Mạng Lưới Ung Thư Vú Việt Nam, Trung tâm hợp tác phát triển Tây Bắc và
          nhiều tổ chức khác.</p>
        <p>Fundraising được hỗ trợ công nghệ bởi FPT Smart Cloud, Comartek, Viettel Pay và VNPay, đảm bảo ứng dụng hoạt
          động ổn định, phương thức thanh toán đa dạng và an toàn.</p>
      </div>
    </div>
    <div class="home-partner w-100">
      <h2>Đối tác của chúng tôi</h2>
      <ul class="list-partner d-flex w-100">
        <li>
          <img src="/assets/common/images/partner/vnpay.jpg" alt="">
        </li>
        <li>
          <img src="/assets/common/images/partner/viettel.jpg" alt="">
        </li>
        <li>
          <img src="/assets/common/images/partner/fpt.jpg" alt="">
        </li>
        <li>
          <img src="/assets/common/images/partner/comartek.jpg" alt="">
        </li>
        <li>
          <img src="/assets/common/images/partner/cfc.jpg" alt="">
        </li>
        <li>
          <img src="/assets/common/images/partner/bud.jpg" alt="">
        </li>
      </ul>
    </div>

    <div class="body-main-wrapper w-100">
      <div class="wraper-list w-75">
        <h2>[Vietnamplus.vn] GiveNow – Nền tảng trao gửi niềm tin cho các dự án thiện nguyện</h2>
        <p>Chỉ sau ít tháng triển khai, nền tảng gây quỹ cộng đồng trực tuyến GiveNow đã trở thành một địa chỉ tin cậy
          cho các dự án hay những con người yêu thiện nguyện.
        </p>

        <div class="button-view-detail">Xem chi tiết</div>
      </div>
    </div>

  </div>


  <footer class="container-fluid footer">
    <div class="container-fotter">
      <div class="footer-section-top  w-100 d-flex">
        <div class="section-top-logo footer-section-layout-1 h-100">
          <img src="/assets/common/images/logo.jpg" alt="" class="h-100">
        </div>
        <div class="section-top-title footer-section-layout-2 h-100">
          <p>Nền tảng gây quỹ cộng đồng trực tuyến <br>
            tiện lợi, tin cậy và minh bạch.</p>
        </div>
        <div class="section-top-widdget footer-section-layout-3 h-100"></div>
      </div>
      <div class="footer-section-middle w-100 d-flex">
        <div class="section-middle-left footer-section-layout-1 h-100"></div>
        <div class="section-middle-mid footer-section-layout-2 h-100">
          <ul class="d-flex">
            <li>Giới thiệu</li>
            <li>Điều khoản và điều kiện</li>
            <li>Tin Tức</li>
            <li>Báo Chí</li>
          </ul>
        </div>
        <div class="section-middle-right footer-section-layout-3 h-100"></div>
      </div>
      <div class="footer-section-bottom w-100 d-flex">
        <div class="section-bottom-left footer-section-layout-1 h-100"></div>
        <div class="section-bottom-mid footer-section-layout-2 h-100">
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i>Hotline: <span>0345627105</span></li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>FundRaising@gmail.com/li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Số 71 , phố Trần Thái Tông, Cầu Giấy, Hà Nội.</li>
            <li>© Givenow.vn – All Rights Reserved</li>
          </ul>
        </div>
        <div class="section-bottom-right footer-section-layout-3 h-100">
          <div class="frame-poster w-50 h-100">
            <div class="follow-page poster-contact d-flex justify-content-center align-items-center">
              <i class="fa fa-facebook-square" aria-hidden="true"></i> Follow Page
            </div>
            <div class="contac-us poster-contact d-flex justify-content-center align-items-center">
              <i class="fa fa-envelope" aria-hidden="true"></i>Contact Us
            </div>
            <img src="/assets/common/images/poster.png" alt="" class="w-100 h-100">
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>