<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item redline-header">
        <div [class]="containerClass">
            <div class="kt-subheader__main d-flex justify-content-between align-items-center mb-2">
                <h3 class="kt-subheader__title">
                    <span class="kt_subheader__desc">{{l("Quản lý yêu cầu gây quỹ")}}</span>
                </h3>
                <button [buttonBusy]="saving" type="button" class="tmss-btn  btn-outline-primary tmss-override" (click)="approve()">
                    <i class="fa fa-add" aria-hidden="true" ></i>
                    Phê duyệt
                </button>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="item col-12">
                        <grid-table [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                           (changePaginationParams)="onGridReady($event)" (changePaginationParams)="onGridReady($event)"
                            (onGridReady)="onGridReady($event)" (callBackEvent)="callBackGrid($event)"
                            (onChangeSelection)="onChangeSelection($event)" [paginationParams]="paginationParams"
                            [rowData]="rowData" [height]="'430px'"></grid-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
