<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" Cert="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog tmss-modal-md fund-modal-edit-md">
        <div class="modal-content">
            <form *ngIf="active" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="!this.inputFundPackage.id">{{l("Thêm mới gói quỹ")}}</span>
                        <span *ngIf="this.inputFundPackage.id">{{l("Sửa thông tin gói quỹ")}}</span>
                    </h4>
                    <i (click)="close()" class="fa-solid fa-xmark"></i>
                </div>

                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row mb-5">
                                    <div class="col-6 d-flex align-items-center">
                                        <label for="fund-name" class="label">Loại quỹ:</label>
                                        <p-dropdown name="duration" [options]="listTypePackage"
                                            [(ngModel)]="inputFundPackage.duration" optionLabel="label"
                                            optionValue="value"></p-dropdown>
                                    </div>
                                    <div class="col-6 d-flex align-items-center">
                                        <label for="fund-name" class="label">Phí quỹ:</label>
                                        <p-inputNumber name="paymentFee" [(ngModel)]="inputFundPackage.paymentFee" inputId="locale-german" mode="decimal"
                                            locale="de-DE" [minFractionDigits]="0" currency="VND" mode="currency"></p-inputNumber>
                                    </div>
                                </div>
                                <div class="row mb-3 mt-3">
                                    <div class="col-6 d-flex align-items-center">
                                        <label for="fund-name" class="label">Trạng thái:</label>
                                        <p-dropdown name="status" [options]="listStatus"
                                            [(ngModel)]="inputFundPackage.status" optionLabel="label"
                                            optionValue="value"></p-dropdown>
                                    </div>
                                    <div class="col-6 d-flex align-items-center">
                                        <label for="fund-name" class="label">Hoa hồng:</label>
                                        <input type="number" id="fund-name" [disabled]="inputFundPackage.id"
                                            name="commission" [(ngModel)]="inputFundPackage.commission" class="input">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12 d-flex align-items-center">
                                        <label for="fund-name" class="label-description">Mô tả</label>
                                        <input type="text" id="fund-name" name="fundName"
                                            [(ngModel)]="inputFundPackage.description" class="input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="tmss-btn btn-outline-primary" (click)="save()">
                            {{"Lưu" }}
                            <i class="fa fa-save"></i>
                        </button>
                        <button type="button" class="tmss-btn btn-outline-primary btn-secondary" (click)="close()">
                            {{ "Hủy" }}
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>