<div class="block-fundraiser">
  <div class="block-information">
    <div class="header d-flex justify-content-between align-items-center mt-3">
      <h3>INFORMATION DETAIL FUND RAISER</h3>
      <button class="btn-save">Save</button>
    </div>
    <hr class="itemPreviewView__separator">
    <div class="block-personal-information mt-5 mb-5">
        <h3>PERSONAL INFORMATION</h3>
    </div>
    <hr class="itemPreviewView__separator">
  </div>
  <div class="block-bank-detail">
    <h3>BANK DETAIL</h3>
  </div>
</div>
