<div class="header-block-donate"></div>
<div class="header-fund-detail">
    <div class="title-detail">
      <span class="ordering">#1</span>
      <span class="sub-title">Please donate £ 10</span>
    </div>
    <hr class="itemPreviewView__separator">
    <div class="fund-detail-donate">
      <button class="btn-donate">$60,000</button>
      <span>Raised So Far</span>
    </div>
  </div>
<div class="block-donate-success d-flex">
    <i class="fa-regular fa-circle-check"></i>
    <h1>Thank for donate!</h1>
    <p></p>
</div>
