<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" Cert="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog fund-modal-md">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{l("Thêm mới bài đăng gây quỹ")}}</span>
                </h4>
                <i class="fa icon-close fa-times" (click)="close()"></i>
            </div>
            <div class="modal-body">
                <div class="row mb-5 d-flex justify-content-between">
                    <div class="col-6 d-flex align-items-center">
                        <label for="fund-name" class="label">Tên quỹ</label>
                        <input type="text" id="fund-name" class="input">
                    </div>
                    <div class="col-5 d-flex align-items-center">
                        <label for="fund-name" class="label">Tiêu đề quỹ</label>
                        <input type="text" class="fund-name" class="input">
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-6 d-flex align-items-center">
                        <label for="fund-name" class="label">Số tiền</label>
                        <input type="text" id="fund-name" class="input">
                    </div>
                    <div class="col-5 d-flex align-items-center">
                        <label for="fund-name" class="label">Ngày bắt đầu</label>
                        <p-calendar name="date" formControlName="date" [(ngModel)]="startDate"
                            dateFormat="dd//mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-6 d-flex align-items-center">
                        <label for="fund-name" class="label">Title</label>
                        <input type="text" id="fund-name" class="input">

                    </div>
                    <div class="col-5 d-flex align-items-center">
                        <label for="fund-name" class="label">Ngày kết thúc</label>
                        <p-calendar name="date" formControlName="date" [(ngModel)]="date"
                            dateFormat="dd//mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-6 d-flex align-items-center">
                        <label for="fund-name" class="label">Lý do gây quỹ</label>
                        <input type="text" id="fund-name" class="input">
                    </div>
                    <div class="col-5">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                        <label class="label">Ảnh</label>
                            <input type="file" [(ngModel)]="listImage" name="images" id="images" class="input" multiple
                                (change)="previewImages()">
                        </form>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-6 d-flex align-items-center">
                        <label for="fund-name" class="label">Câu trả lời</label>
                        <p-editor [(ngModel)]="text" [style]="{ height: '150px' }"></p-editor>
                    </div>
                    <div class="col-5">
                        <div id="form-add-image"></div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-12">
                        <p>Mô tả</p>
                        <p-editor [(ngModel)]="text" [style]="{ height: '100px' }"></p-editor>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="tmss-btn btn-outline-primary" (click)="save()" [buttonBusy]="isLoading"
                    [busyText]="'Đang xử lý'">
                    <i class="fa fa-save"></i>
                    {{ l("Lưu") }}
                </button>
                <button type="button" class="tmss-btn btn-outline-primary btn-secondary" (click)="close()">
                    <i class="fa fa-times"></i>
                    {{ l("Hủy") }}
                </button>
            </div>
        </div>
    </div>
</div>
