<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" Cert="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop:'static'}">
    <div class="modal-dialog fund-modal-md">
        <div class="modal-content">
            <div class="modal-header redline-header">
                <h4 class="modal-title">
                    <span>{{l("Thêm mới bài đăng gây quỹ")}}</span>
                </h4>
                <div class="block-button">
                    <button class="tmss-btn btn-outline-primary" (click)="save()">
                        {{ l("Lưu") }}
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="button" class="tmss-btn btn-outline-primary btn-secondary" (click)="close()">
                        {{ l("Hủy") }}
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row mb-5 d-flex justify-content-between">
                    <div class="col-4 d-flex align-items-center">
                        <label for="fund-name" class="label">Tên quỹ:</label>
                        <input type="text" id="fund-name" class="input">
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <label class="label">Chủ đề:</label>
                        <input type="text" [(ngModel)]="input.postTopic" class="input">
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <label class="label">Tiêu đề quỹ:</label>
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-12 d-flex align-items-center">
                        <label class="label-col-12">Tiêu đề quỹ:</label>
                        <input type="text" class="input">
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <label for="fund-name" class="label-col-12">Mục đích gây quỹ:</label>
                        <input type="text" id="fund-name" class="input">
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-12">
                        <p>Nội dung:</p>
                        <p-editor [style]="{ height: '140px' }"></p-editor>
                    </div>
                </div>
                <div class="row d-flex justify-content-between mb-5">
                    <div class="col-4">
                        <!-- <form action="/upload" method="post" enctype="multipart/form-data" class="d-flex"
                                id="form-add-image">
                                <input type="file" [(ngModel)]="input.file" id="images" class="input" multiple
                                    [ngModelOptions]="{standalone: true}" (change)="previewImages($event)">
                            </form> -->
                        <p-fileUpload name="demo[]" (onSelect)="onUpload($event)" [multiple]="true" accept="image/*"
                            maxFileSize="1000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
