.modal-content{
    height: 88vh;
}
.modal-header{
    border-bottom: 1px solid gray;
}
.modal-footer{
    border-top: none !important;
}
.modal-title{
    color:black;
}
.icon-close{
    font-size: 23px;
    cursor: pointer;
}
.label{
    width: 20%;
    color:gray;
}
.input{
    padding: 7px 0px;
    padding-left: 15px;
    outline: none;
    border:1px solid gray;
    flex: 1;
    background-color: transparent;
    border-radius: 5px;
    color:#000
}
#form-add-image{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.block-image{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.block-image img{
    width: 30%;
    height: 30%;
}
