<!-- <loading *ngIf="isLoading">{{ isLoading }}</loading> -->
<div class="page">
    <header class="container-fluid pr-0 pl-0 top-header fixed-top ticker-bottom-padding">
        <div class="row pt-3 pb-3 pl-3 h-100 bg-white d-flex justify-content-between">
            <div class="col-7 col-md-7 col-lg-6 top-logo my-auto d-flex justify-content-between">
                <img src="/assets/common/images/logo-header.png" alt="" class="h-100">
                <ul class="list-navigation d-flex">
                    <li class="item-nav" (click)="redirectLink(1)">Trang chủ</li>
                    <li class="item-nav" (click)="redirectLink(2)">Dự án</li>
                    <li class="item-nav" (click)="redirectLink(4)">Về chúng tôi</li>
                    <li class="item-nav" (click)="redirectLink(3)">Hướng dẫn</li>
                    <!-- <li class="item-nav" (click)="redirectLink(3)">Ủng hộ Fundraising</li> -->
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-2 top-right-nav my-auto text-right d-none d-lg-block">
                <div class="navbar-expand-xl pr-3 float-right d-flex justify-content-end align-items-center">
                    <a routerLink="/account/login" class="mr-4 text-login">Login</a>
                    <a class="ml-5 btn btn-blue float-right m-neg-6 pl-24 pr-24">Get in Touch</a>
                </div>
            </div>
        </div>
    </header>


    <div id="main-body" class="body-fundraising-detail">
        <div class="user-cover-picture w-100 mb-2">
            <img src="" alt="" class="logo-fund">
        </div>
        <div class="ambassador-info w-100">
            <p>Mạng Lưới Qũy Cộng Đồng Việt Nam</p>
            <div class="wrap-contact container w-75">
                <ul class="contact d-flex pt-1 pt-md-3 row w-100">
                    <li class="col-4 p-0 d-flex">
                        <div class="contact-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="contact-detail">
                            <p><b>Hotline</b></p>
                            <span>0123456789</span>
                        </div>
                    </li>
                    <li class="col-4 p-0 d-flex">
                        <div class="contact-icon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="contact-detail">
                            <p><b>Email</b></p>
                            <span>abc@gmail.com</span>
                        </div>
                    </li>
                    <li class="col-4 p-0 d-flex">
                        <div class="contact-icon">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div class="contact-detail">
                            <p><b>Website</b></p>
                            <span>http://quycongdongVn.com</span>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="mt-2 mb-4 d-none d-md-block">
            <span class="w-50 mt-10 text-center">
                “BCNV - được khởi xướng bởi bà Thương Sobey (1982 -2015), một bệnh nhân ung thư vú giai đoạn 4, hoạt
                động không vì lợi nhuận, được chuyển đổi và trở thành doanh nghiệp xã hội từ năm 2018. Là tổ chức tiên
                phong và tập trung thực hiện các hoạt động về ung thư vú tại Việt Nam với một tầm nhìn “không một ai tại
                Việt Nam chết vì sự thiếu hiểu biết và giúp đỡ khi phải chiến đấu với căn bệnh ung thư vú”. Với 2 sứ
                mệnh: Nâng cao nhận thức (1) cho cộng đồng thông qua việc cung cấp các thông tin giáo dục đúng đắn nhằm
                tăng tỷ lệ phát hiện sớm ung thư vú, và các hỗ trợ tập trung về tinh thần nhằm nâng cao chất lượng sống
                (2) cho những người bị ảnh hưởng (trực tiếp & gián tiếp) bởi căn bệnh này. ”
            </span>
        </div>
        <div class="ambassador-stats w-100">
            <div class="hstack w-100">
                <div class="hstack-stactistic">
                    <span>Dự án</span>
                    <h3>5</h3>
                </div>
                <div class="hstack-stactistic">
                    <span>Sứ giả</span>
                    <h3>5</h3>
                </div>
                <div class="hstack-stactistic">
                    <span>Số người ủng hộ</span>
                    <h3>5</h3>
                </div>
                <div class="hstack-stactistic">
                    <span>Số tiền ủng hộ</span>
                    <h3>5</h3>
                </div>
            </div>
            <div class="short-code-ambassador">
                <hr class="mt-2 mb-4 d-none d-md-block">
                <div class="title text-center">
                    <h2>Sứ giả gây quỹ</h2>
                    <p>Bạn có thể trở thành sứ giả gây quỹ cho các dự án bằng cách tạo trang gây quỹ với mục tiêu của
                        riêng mình.</p>
                    <div class="become-messenger w-50">
                        Trở thành sứ giả ngay
                    </div>
                </div>
            </div>
        </div>
        <div class="wpneo-tabs w-100">
            <div class="wpneo-tabs-menu px-3 px-md-0 w-100 d-flex justify-content-center align-items-center">
                <div class="tabs-fundraising" 
                (click)="selectedTab = 'dangGayQuy'"
                [ngClass]="{'selected-tab': selectedTab === 'dangGayQuy'}">Đang gây quỹ</div>
                <div class="tabs-fundraising" 
                (click)="selectedTab = 'ketThucGayQuy'"
                [ngClass]="{'selected-tab': selectedTab === 'ketThucGayQuy'}">Kết thúc gây quỹ</div>
            </div>
            <div class="wpneo-tab-tab-running-camp w-100">
                <div class="fund-page-title text-center mt-5">
                    <h3>{{ selectedTab === 'dangGayQuy' ? 'Đang gây quỹ' : 'Kết thúc gây quỹ' }}</h3>
                </div>
                <div class="products list-post-custom-column">
                    <div class="product type-product" *ngFor="let item of (selectedTab === 'dangGayQuy' ? listFuns : listFunsFinish)">
                        <div class="item-image">
                            <img src="" alt="">
                            <div class="item-tag">Giáo dục</div>
                        </div>
                        <div class="item-content">
                            <a>Quỹ từ thiện Nâng bước tuổi thơ</a>
                            <h2>Chung tay hỗ trợ sinh hoạt phí cho 3 thiếu niên cùng tiếp bước đến trường</h2>
                            <div class="progress-bar">
                                <span></span>
                            </div>
                            <div class="statistic-bdi d-flex">
                                <span>18.1295</span>
                                <span>50%</span>
                            </div>
                            <p>với mục tiêu 24.000.000đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of main-body div -->


        <footer class="container-fluid footer">
            <div class="container-fotter">
                <div class="footer-section-top  w-100 d-flex">
                    <div class="section-top-logo footer-section-layout-1 h-100">
                        <img src="/assets/common/images/logo.jpg" alt="" class="h-100">
                    </div>
                    <div class="section-top-title footer-section-layout-2 h-100">
                        <p>Nền tảng gây quỹ cộng đồng trực tuyến <br>
                            tiện lợi, tin cậy và minh bạch.</p>
                    </div>
                    <div class="section-top-widdget footer-section-layout-3 h-100"></div>
                </div>
                <div class="footer-section-middle w-100 d-flex">
                    <div class="section-middle-left footer-section-layout-1 h-100"></div>
                    <div class="section-middle-mid footer-section-layout-2 h-100">
                        <ul class="d-flex">
                            <li>Giới thiệu</li>
                            <li>Điều khoản và điều kiện</li>
                            <li>Tin Tức</li>
                            <li>Báo Chí</li>
                        </ul>
                    </div>
                    <div class="section-middle-right footer-section-layout-3 h-100"></div>
                </div>
                <div class="footer-section-bottom w-100 d-flex">
                    <div class="section-bottom-left footer-section-layout-1 h-100"></div>
                    <div class="section-bottom-mid footer-section-layout-2 h-100">
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Hotline: <span>0345627105</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i>FundRaising@gmail.com/li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Số 71 , phố Trần Thái Tông, Cầu Giấy,
                                Hà
                                Nội.</li>
                            <li>© Givenow.vn – All Rights Reserved</li>
                        </ul>
                    </div>
                    <div class="section-bottom-right footer-section-layout-3 h-100">
                        <div class="frame-poster w-50 h-100">
                            <div class="follow-page poster-contact d-flex justify-content-center align-items-center">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i> Follow Page
                            </div>
                            <div class="contac-us poster-contact d-flex justify-content-center align-items-center">
                                <i class="fa fa-envelope" aria-hidden="true"></i>Contact Us
                            </div>
                            <img src="/assets/common/images/poster.png" alt="" class="w-100 h-100">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>